<div *ngIf="brew" class="col">
    <div class="card" style="margin-bottom: 30px;">
        <h5 class="card-header">{{brew.name}}</h5>
        <div class="card-body">
          <p class="card-text" *ngIf="brew.description">Description: {{ brew.description }}</p>
          <p class="card-text">
              Active:
              <span *ngIf="!brew.isComplete()" class="badge badge-success">Yes</span>
              <span *ngIf="brew.isComplete()" class="badge badge-danger">No</span>
            </p>
            <p class="card-text">Brew start time: {{brew.start_time | date:'d MMM y, h:mm:ss a'}}</p>
        </div>
      </div>

</div>
