{% extends "base.html" %}
{% block title %}Configuration{% endblock %}
{% block content %}
    {% import "config_item.html" as config_item %}
    <h3>Temperature Sources</h3>
    <div class="card-deck mb-3 text-center">
    {% for temp_source in temp_sources %}
        {{ config_item.config_item(source=temp_source) }}
    {% endfor %}
    </div>
    <h3><br><br>Alcohol Level Sources</h3>
    <div class="card-deck mb-3 text-center">
    {% for smell_source in smell_sources %}
        {{ config_item.config_item(source=smell_source) }}
    {% endfor %}
    </div>
{% endblock %}