{% extends "base.html" %}
{% block title %}AutoBrew Live status{% endblock %}
{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {{ charts_init }}
{% endblock %}
{% block content %}
    {% for source in temp_sources %}
    <h3>Live {{ source.get_name() }} temperature is {{ source._get_temperature() }}</h3>
    {% if source.is_primary %}
        PRIMARY
    {% else %}
        <a href="{{ url_for('set_primary', name=source.get_name()) }}">Make primary source for heat control</a>
    {% endif %}
    {{ charts[source.get_name()] }}
    {% endfor %}

    {% for smell_source in smell_sources %}
    <h3>Live {{ smell_source.get_name() }} alcohol level is {{ smell_source.get_alcohol_level() }}</h3>
    {{ charts[smell_source.get_name()] }}
    {% endfor %}
{% endblock %}