{% extends "base.html" %}
{% block title %}Live Temperature{% endblock %}
{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {{ charts_init }}
{% endblock %}
{% block content %}
    {% for source in temp_sources %}
    <br>
    <div class="card box-shadow">
        <div class="card-header">
            <h3>Live {{ source.get_display_name() }} temperature is <span id="temp_{{ source.get_name() }}">...</span>
            {% if source.is_primary %}
                <span class="badge badge-secondary">PRIMARY</span>
            {% endif %}</h3>
        </div>
        <div class="card-body">
            {% if charts %}
                {{ charts[source.get_name()] }}
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block jquery_scripts %}
<script type="text/javascript">
        function get_live_temp(probe_name) {
            var url = '/live_temperature?name=' + probe_name;
            var id = "#temp_" + probe_name;
            $.get(url).done(function(response) {
                $(id).text(response['temperature']);
            }).fail(function() {
                $(id).text("'Error: Could not pull temperature.'");
                console.log("Live temperature pull failed");
            });
        }
        $( document ).ready(function() {
            {% for source in temp_sources %}
                get_live_temp("{{ source.get_name() }}");
            {% endfor %}
        });
    </script>
{% endblock %}