<div *ngIf="chartData.length > 0" class="card text-center p-1" style="margin-bottom: 30px;">
  <span>{{series.getDisplayName()}} <span class="badge badge-primary">{{series.type}}</span></span>
    <div class="col p-3">
        <google-chart
            [title]="series.getDisplayName()"
            style="width: 100%;height: 400px;"
            [type]="chartType"
            [data]="chartData"
            [columns]="columns"
            [options]="chartOptions"
            [dynamicResize]=true
            >
        </google-chart>
    </div>
</div>
